#include <windows.h>
#include "version.h"


100		ICON		"project.ico"


VS_VERSION_INFO VERSIONINFO
#ifdef AS_VER_PATCH
 FILEVERSION	AS_VER_MAJOR,AS_VER_MINOR,AS_VER_BUILD,AS_VER_PATCH
 PRODUCTVERSION	AS_VER_MAJOR,AS_VER_MINOR,AS_VER_BUILD,AS_VER_PATCH
#else
 FILEVERSION	AS_VER_MAJOR,AS_VER_MINOR,AS_VER_BUILD,0
 PRODUCTVERSION	AS_VER_MAJOR,AS_VER_MINOR,AS_VER_BUILD,0
#endif
 FILEFLAGSMASK	0x3fL
#ifndef RELEASE_BUILD
# ifdef _DEBUG
 FILEFLAGS	VS_FF_SPECIALBUILD | VS_FF_DEBUG
# else
 FILEFLAGS	VS_FF_SPECIALBUILD
# endif
#else
# ifdef _DEBUG
 FILEFLAGS	VS_FF_DEBUG
# else
 FILEFLAGS	0x0L
# endif
#endif
 FILEOS		VOS_NT_WINDOWS32
 FILETYPE	VFT_APP
 FILESUBTYPE	0x0L
 BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0409fde9"
        BEGIN
            VALUE "CompanyName", "The VARCem Group LLC"
            VALUE "LegalCopyright", "Licenced under GPL-2.0-only OR GPL-3.0-only."
            VALUE "ProductName", "AS Makro Assembler"
            VALUE "ProductVersion", AS_VERSION
            VALUE "InternalName", "ASL"
            VALUE "FileDescription", "ASL Assembler"
            VALUE "FileVersion", AS_VERSION
            VALUE "OriginalFilename", "asl.exe"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 65001
    END
END
